<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL81Dialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/progect_test1</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.taskmanager.model.technicaltask.TechnicalTask"/>
        <mapping class="com.taskmanager.model.technicaltask.TechnicalTaskJob"/>
        <mapping class="com.taskmanager.model.customer.Customer"/>
        <mapping class="com.taskmanager.model.developer.Developer"/>
        <mapping class="com.taskmanager.model.manager.Manager"/>
        <mapping class="com.taskmanager.model.project.Project"/>
        <mapping class="com.taskmanager.model.project.ProjectJob"/>
        <mapping class="com.taskmanager.model.project.ProjectScore"/>
    </session-factory>
</hibernate-configuration>